@import './../../scss/mixins';
@import './../../scss/variables';

.Language {
  //min-width: 5rem;
  height: 100%;
  margin-right: $gutter-default;
  @include flex(sc);

  & > * {
    margin: 0 0.2rem;
  }

  &__label {
    @include flex(sc);
    margin-top: 2px;

    img {
      width: 1.6rem;
    }
  }

  &__select {
    min-width: 3rem;
    background-color: $background-color-lighter;
    border-color: transparent;
    padding: $gutter-default / 2 $gutter-larger;
    outline: none !important;

    &__item {
      //padding: $gutter-default $gutter-larger;
    }
  }
}