@import './../../scss/variables';

.Taskbar {
  height:49px;
  z-index:5 !important;
  background-color: $background-color-lighter;

  &__widget-rack {
    justify-self: end;
    margin-left: auto;
  }
}