// default color scheme
$button-link-accent: #9b0000;
$button-link-accent-hover: #d20000;
$button-link-accent-active: #ff0000;

$button-link-default: #3d3d3d;
$button-link-default-hover: #4b4b4b;
$button-link-default-active: #5f5f5f;

$background-color-default: #000 !important;
$background-color-lighter: #232323 !important;
$background-color-darker: #191919 !important;

$background-transparent-dark: rgba(0, 0, 0, 0.5);

$border-color-default: #353635;

// default font parameters
$font-family-default: 'Roboto Condensed', sans-serif;
$font-size-default: 14px;