// color scheme
$button-link-accent: #fafafa;
$button-link-accent-hover: #fafafa;
$button-link-accent-active: #fafafa;

$button-link-default: #fafafa;
$button-link-default-hover: #fafafa;
$button-link-default-active: #fafafa;

$background-color-default: #fafafa;
$background-color-lighter: #fafafa;
$background-color-darker: #fafafa;