@import "/../../styles/variables.scss";

.SimpleDropdown {
  min-width: 300px;
  z-index: 15;
  cursor: pointer;

  &__item {
    background-color: $button-link-default;

    :hover {
      background-color: $button-link-default-hover;
    }

    :last-of-type {
      border: none !important;
    }
  }
}