@import "./../../scss/variables";
@import "./../../scss/mixins";

.popup-simple {
  z-index: 5;
  background-color: $background-transparent-dark;

  &__content-wrapper {
    top: 0;
    margin: 0 auto;
    white-space: nowrap;
    @include position-(fixed, center);
  }
}