@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    transition: background-color .2s, opacity .2s, color .1s;
}

html, body {
    min-width: 1024px !important;
}

#Background {
    z-index: 1;
}

.Desktop__Elements__Popups--FixedPopup-background {
    z-index: 5;
}

.Desktop__Elements__Popups--FixedPopup-window {
    top: 0;
    margin: 0 auto;
    white-space: nowrap;
}

.Desktop__Elements__Info--EngineVersion {
    opacity: 0.8;
    font-weight: 500;
    color: #5a5a5a;
}

.Desktop__Elements__Forms--BasicForm input[type=text],
.Desktop__Elements__Forms--BasicForm input[type=password],
.Desktop__Elements__Forms--BasicForm input[type=email],
.Desktop__Elements__Forms--BasicForm input[type=submit] {
    outline: none !important;
}

.Desktop__Elements__Forms--BasicForm input:disabled {
    opacity: 0.3;
}

.Desktop__Elements__Forms--BasicForm input[type=submit]:disabled {
    background-color: #000 !important;
}

.Desktop__Workspace__Blocks--StartMenu-wrapper {
    z-index: 2;
}

.Desktop__Workspace__Blocks--StartMenu-wrapper--block {
    z-index: 5 !important;
}

.Desktop__Workspace__Blocks--WindowSpace {

}

.Desktop__Workspace__Blocks--Windows {
    z-index: 4;
}

#Workspace .Desktop__Workspace__Blocks--TaskBar {
    z-index: 5 !important;
    height: 49px !important;
    /*padding-left:0 !important;*/
}

.Desktop__Workspace__Blocks--TaskBar__Start {
    /*width:44px !important;*/
    /*height:44px !important;*/
    cursor: pointer;
    user-select: none !important;
}

.Desktop__Workspace__Blocks--TaskBar__widget-rack {
    /* Not Working in Chrome */
    justify-self: end;
    /* Working in Chrome */
    margin-left: auto;
}

.Desktop__Elements__Widgets--Clocks {
    vertical-align: middle;
    user-select: none;
}

.Desktop__Elements__Widgets--Clocks b {
    font-weight: 500;
}

.Desktop__Workspace__Blocks--StartMenu__Item {
    width: 400px;
    max-width: 100%;
    cursor: pointer;
    border-left: 3px solid #9b0000;
}

.Desktop__Workspace__Blocks--StartMenu__Item .fa-container {
    margin-right: 15px !important;
    margin-left: 10px !important;
}

.Desktop__Workspace__Blocks--StartMenu__Rack {
    max-height: 60vh;
    overflow: auto;
}

.Desktop__Elements__Windows--Window {
    min-width: 20%;
    /*resize: both;*/
    max-width: 100%;
    max-height: 100%;
}

.Desktop__Elements__Windows--Window.display-none {
    display: none !important;
}

.Desktop__Elements__Windows--Window-title {
    flex: 1;
    cursor: move;
}

.Desktop__Elements__Windows--Window-controls {
    flex: 0 0 130px;
}

.Desktop__Elements__Windows--Window-controls > div {
    cursor: pointer;
}

/* STATES OF WINDOW */
.Desktop__Elements__Windows--Window.Desktop__Elements__Windows--Window--expanded {
    height: calc(100% - 49px) !important;
}

.Desktop__Elements__Windows--Window--expand-center {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.Desktop__Elements__Windows--Window--expand-left {
    width: 50% !important;
    left: 0 !important;
    top: 0 !important;
}

.Desktop__Elements__Windows--Window--expand-right {
    width: 50% !important;
    left: unset !important;
    right: 0 !important;
    top: 0 !important;
}

.Desktop__Elements__Windows--Window-content {
}

/* resize window */
.window-resize--left, .window-resize--bottom, .window-resize--right {
    position: absolute;
    z-index: 1488;
    color: transparent;
    user-select: none !important;
}

.window-resize--left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: w-resize;
}

.window-resize--bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    cursor: s-resize;
}

.window-resize--right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: e-resize;
}

#TaskList {
    flex: 1 1 0;
}

.Desktop__Workspace__Blocks__TaskBar__TaskList--TaskListItem {
    flex-basis: 100%;
    max-width: 200px;
    cursor: pointer;
    opacity: 0.6;
}

.Desktop__Workspace__Blocks__TaskBar__TaskList--TaskListItem--active {
    opacity: 1 !important;
}

.Desktop__Elements__DropDowns--SimpleDropMenu {
    min-width: 300px;
    z-index: 15;
}

.Desktop__Elements__DropDowns--SimpleDropMenu-Item-wrapper {
    cursor: pointer;
}

.Desktop__Elements__DropDowns--SimpleDropMenu-Item {
    cursor: pointer;
}

.Desktop__Elements__DropDowns--SimpleDropMenu-Item-wrapper:last-of-type > .Desktop__Elements__DropDowns--SimpleDropMenu-Item {
    border: none !important;
}

.Desktop__Elements__Loaders--SimpleLoader {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 80px;
    height: 80px;
}

/* CLASSIC MODE */
#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--StartMenu-wrapper {
    z-index: 4 !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--StartMenu-wrapper > div {
    display: block !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--StartMenu-wrapper > div > div > div > div {
    justify-content: space-between !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--StartMenu__Rack > div:last-of-type {
    border-bottom: 1px solid #353635 !important;
}

#Workspace.Desktop__Workspace--ClassicMode #StartMenu {
    height: 100% !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Elements__Windows--Window {
    display: block !important;
    left: 400px !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 49px !important;
    width: calc(100% - 400px) !important;
    height: calc(100% - 49px) !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--Windows {
    z-index: 3 !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Elements__Windows--Window .Desktop__Elements__Windows--Window-controls .classic-hidden {
    display: none !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Elements__Windows--Window .Desktop__Elements__Windows--Window-title {
    cursor: unset !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--TaskBar {
    height: 49px !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--TaskBar #TaskList {
    display: none !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--TaskBar__Start {
    display: none !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--Background {
    display: none !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--StartMenu__Item {
    border-left-color: #353635 !important;
}

#Workspace.Desktop__Workspace--ClassicMode .Desktop__Workspace__Blocks--StartMenu__Item--active {
    border-left-color: #9b0000 !important;
}

/* PAGE BUILDER */

.PageBuilder__body, .PageBuilder__container, .PageBuilder__elements-item {
    border: 1px dashed #424242;
}

.PageBuilder__elements-item {
    width:125px;
    height:125px;
}

.PageBuilder__container {
    background-color: #1f1f1f;
}

.PageBuilder__chunk-container {
    /*border-radius: 5px;*/
    border: 3px solid #9b0000;
    /* default container size */
    min-height: 200px;
    transition: border-color .3s, background-color .3s;
}

.PageBuilder__column-label {
    color: #9b0000;
    transition: color .3s;
}

.PageBuilder__elements {
    margin-left:-1rem !important;
    margin-right:-1rem !important;
}

.PageBuilder__elements .nav-tabs {
    margin-left:1.5rem !important;
}

.PageBuilder__elements-container {
    /*margin-left:-1rem !important;*/
    /*margin-right:-1rem !important;*/
}

.PageBuilder__draggable-target.target-highlighted {
    border-color: #ff0000 !important;
    background-color:#2f2f2f !important;
}
.PageBuilder__draggable-target.target-highlighted .PageBuilder__column-label {
    color: #ff0000 !important;
}

.PageBuilder__chunk-inner {
    background-color: #353535;
    /*border:3px solid #3adb76;*/
    /*min-height:200px;*/
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
}

/* BOOTSTRAP TABS */
.nav-tabs {
    border-bottom:1px solid #353635 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #ebebeb !important;
    outline:none !important;
    margin-bottom: -1px;
    border-bottom: none !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:active {
    border-color: #353635 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #353635 !important;
    background-color: #191919 !important;
}

/* SOME TWEAKS */
.fa-container {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.fa-container i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
    MSG PLUGIN
 */
#msg:before {
    display: block;
    content: '';
    height: 100%;
    width: 5px;
    background-color: #9b0000;
    position: absolute;
    left: 0;
    top: 0;
}

#msg {
    border-radius: 0;
    border: none;
    background-color: #232323;
    color: #ebebeb !important;
    padding: 14px 20px;
}


#msg i {
    display: none !important;
}

#msg .msg-progress {
    display: none;
}

#msg .close {
    display: none !important;
}

#msg.alert-danger:before {
    background-color: #9b0000;
}

#msg.alert-success:before {
    background-color: darkgreen;
}

#msg.alert-info:before {
    background-color: orangered;
}

/* DataTables */
.dt-buttons > button > span, .dataTables_filter > label > input, .dataTables_info {
    color: #fafafa !important;
}

.dataTables_wrapper label {
    color: #fafafa !important;
}

.dataTables_wrapper select {
    background-color: #191919 !important;
    color: #fafafa !important;
}

.dt-buttons button {
    color: #ebebeb !important;
    background-color: #191919 !important;
    background: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

html body .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #ebebeb !important;
    background: #191919 !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

html body .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #ebebeb !important;
    background: #282828 !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

html body .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #2d2d2d !important;
    color: #ebebeb !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

html body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ebebeb !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

thead input {
    width: 100%;
}

.dataTable tr {
    background-color: #191919 !important;
}

/* PURE LOADED */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



