@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    transition: background-color .2s, opacity .2s;
}

#Background {
    z-index: 1;
}

.Desktop__Elements__Popups--FixedPopup-background {
    z-index: 5;
}

.Desktop__Elements__Popups--FixedPopup-window {
    top: 0;
    margin: 0 auto;
    white-space: nowrap;
}

.Desktop__Elements__Info--EngineVersion {
    opacity: 0.8;
    font-weight: 500;
    color: #5a5a5a;
}

.Desktop__Elements__Forms--BasicForm input[type=text],
.Desktop__Elements__Forms--BasicForm input[type=password],
.Desktop__Elements__Forms--BasicForm input[type=email],
.Desktop__Elements__Forms--BasicForm input[type=submit] {
    outline: none !important;
}

.Desktop__Elements__Forms--BasicForm input:disabled {
    opacity: 0.3;
}

.Desktop__Elements__Forms--BasicForm input[type=submit]:disabled {
    background-color: #000 !important;
}

.Desktop__Workspace__Blocks--WindowSpace {
    z-index: 2;
}

.Desktop__Workspace__Blocks--TaskBar {
    z-index: 3;
}

.Desktop__Workspace__Blocks--TaskBar__Start {
    /*width:44px !important;*/
    /*height:44px !important;*/
    cursor: pointer;
    user-select: none !important;
}

.Desktop__Workspace__Blocks--TaskBar__widget-rack {
    /* Not Working in Chrome */
    justify-self: end;
    /* Working in Chrome */
    margin-left: auto;
}

.Desktop__Elements__Widgets--Clocks {
    vertical-align: middle;
    user-select: none;
}

.Desktop__Elements__Widgets--Clocks b {
    font-weight: 500;
}

.Desktop__Workspace__WindowSpace--StartMenu__Item {
    width:400px;
    max-width: 100%;
    cursor: pointer;
}

.Desktop__Workspace__WindowSpace--StartMenu__Rack {
    max-height: 60vh;
    overflow: auto;
}

/**
    MSG PLUGIN
 */
#msg:before {
    display: block;
    content: '';
    height: 100%;
    width: 5px;
    background-color: #9b0000;
    position: absolute;
    left: 0;
    top: 0;
}

#msg {
    border-radius: 0;
    border: none;
    background-color: #232323;
    color: #ebebeb !important;
    padding: 14px 20px;
}


#msg i {
    display: none !important;
}

#msg .msg-progress {
    display: none;
}

#msg .close {
    display: none !important;
}

#msg.alert-danger:before {
    background-color: #9b0000;
}

#msg.alert-success:before {
    background-color: darkgreen;
}

#msg.alert-info:before {
    background-color: orangered;
}


