.theme__background-color {
    background-color: #000;
}

.theme__background-color2 {
    background-color: #232323;
}

.theme__background-color3 {
    background-color: #191919;
}

.theme__background-color3-i {
    background-color: #191919 !important;
}

.theme__background-color--accent-soft--hover:hover {
    background-color: #d20000;
}

.theme__background-color--accent-soft {
    background-color: #9b0000;
}

.theme__background-color--accent {
    background-color: #d20000;
}

.theme__background-color--hover:hover {
    background-color: #9b0000;
}

.theme__background-color--hover-soft:hover {
    background-color: #3d3d3d;
}

.theme__background-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.theme__background-opacity {
    background-color: rgba(0, 0, 0, 0.5);
}

.theme__text-color {
    color: #ebebeb;
}

.theme__link-color {
    color: #ebebeb;
    /*color:#e1e1e1;*/
}

.theme__link-color--accent {
    color: #9b0000;
}

.theme__link-color--accent2 {
    color: #d20000;
}

.theme__link-color--hover:hover {
    color: #d20000;
}

.theme__font-basic {
    font-family: 'Arial', sans-serif;
}

.theme__background-image {
    background-position: center;
    background-repeat: no-repeat;
}

.theme__background-image--cover {
    background-size: cover;
}

.theme__background-image--contain {
    background-size: contain;
}

.theme__fixed-absolute--center {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.theme__fixed-absolute--center-keep-width {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.theme__border {
    border: 1px solid;
}

.theme__border-right {
    border-right: 1px solid;
}

.theme__border-left {
    border-left: 1px solid;
}

.theme__border-top {
    border-top: 1px solid;
}

.theme__border-bottom {
    border-bottom: 1px solid;
}

.theme__border-color--accent {
    border-color: #9b0000;
}

.theme__border--thicker {
    border-width: 2px;
}

.theme__border-color {
    border-color: #353635;;
}

.theme__border--none {
    border: none;
}

.theme__cursor-pointer {
    cursor: pointer;
}

.theme__element-active {

}

.theme__element-inactive {
    opacity: 0.45;
}

.theme__flex-basis-0 {
    flex: 1 1 0;
}

.theme__flex-basis-auto {
    flex: 1 1 auto;
    /*min-width: 50%;*/
}